.page-background {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@import url(create-button.component.css);
@import url(loading.component.css);
@import url(page-footer.component.css);
@import url(login.page.css);